/.vscode
build/.ninja_deps
build/.ninja_log
build/compile_commands.json
build/.cmake/api/v1/reply/cache-v2-2e9f4af5099231bcd97b.json
build/.cmake/api/v1/reply/cache-v2-c7ab14e91cf391058509.json
build/.cmake/api/v1/reply/cmakeFiles-v1-6a7a3f7c8f08f0f8bd85.json
build/.cmake/api/v1/reply/codemodel-v2-368f38c0c68ccd04d506.json
build/.cmake/api/v1/reply/cmakeFiles-v1-8e45088152b2f764e822.json
build/.cmake/api/v1/reply/codemodel-v2-de3181f76e56c9482c2a.json
build/.cmake/api/v1/reply/index-2024-10-26T11-12-27-0276.json
build/.cmake/api/v1/reply/index-2024-10-26T10-10-54-0902.json
build/.cmake/api/v1/reply/target-GameShopPlatformClient-Debug-ef0d99ad1030daf859b5.json
build/.cmake/api/v1/reply/target-GameShopPlatformClient-Debug-fb33164739a38e824077.json
build/.cmake/api/v1/reply/target-GameShopPlatformClient-Release-2458fa7e47fc9701c0e4.json
build/.cmake/api/v1/reply/target-GameShopPlatformClient-Release-ab1277c42fe0b0066783.json
build/.cmake/api/v1/reply/target-GameShopPlatformClient-RelWithDebInfo-9df3e2b5719d343e320c.json
build/.cmake/api/v1/reply/target-GameShopPlatformClient-RelWithDebInfo-f11463f61f12625d54b4.json
build/.qt/QtDeployTargets-Debug.cmake
build/.qt/QtDeployTargets-Release.cmake
build/.qt/QtDeployTargets-RelWithDebInfo.cmake
build/CMakeFiles/common.ninja
build/CMakeFiles/impl-Debug.ninja
build/CMakeFiles/impl-Release.ninja
build/CMakeFiles/impl-RelWithDebInfo.ninja
build/CMakeFiles/GameShopPlatformClient.dir/Debug/GameShopPlatformClient_autogen/mocs_compilation_Debug.cpp.obj
build/CMakeFiles/GameShopPlatformClient.dir/Debug/src/authorization.cpp.obj
build/CMakeFiles/GameShopPlatformClient.dir/Debug/src/main.cpp.obj
build/CMakeFiles/GameShopPlatformClient_autogen.dir/AutogenInfo.json
build/CMakeFiles/GameShopPlatformClient_autogen.dir/AutogenUsed_Debug.txt
build/CMakeFiles/GameShopPlatformClient_autogen.dir/ParseCache_Debug.txt
build/Debug/GameShopPlatformClient.exe
build/GameShopPlatformClient_autogen/deps_Debug
build/GameShopPlatformClient_autogen/moc_predefs_Debug.h
build/GameShopPlatformClient_autogen/include_Debug/CJB3AIWSVP/moc_authorization.cpp
build/GameShopPlatformClient_autogen/include_Debug/CJB3AIWSVP/moc_authorization.cpp.d
